.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px !important;
  margin: 0px !important;
  grid-gap: 2px 5px;
}

.gallery img {
  width: 100%;
  max-height: 150px;
  min-height: 150px;
  height: auto;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: #000000b3;
  margin-top: 50px;
}

.opened-image {
  width: 100%;
}